body {
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.btnGenerate {
  background-color: #77ff00;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  font-size: larger;
  margin-top: 1.5rem;
}

.flaschards {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background-color: #d6ffb2;
  height: 300px;
  width: 350px;
  overflow-y: scroll;
  gap: 20px;
}

.flaschardItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #77ff00;
  padding: 1.2rem 3rem;
  height: 150px;
  cursor: pointer;
}

.revealed {
  background-color: #81cb40;
}
